@charset "utf-8";

a.easy-button {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.11111rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 0.88889rem;
	padding-right: 1.77778rem;
	padding-bottom: 0.94444rem;
	padding-left: 1.77778rem;
	font-size: 0.88889rem;
	background-color: #3498db;
	border-color: #3498db;
	color: #fff;
	transition: background-color 300ms ease-out; }
	a.easy-button.blue {
		background-color: #3498db; }
		a.easy-button.blue:hover, a.easy-button.blue:focus {
			background-color: #2980b9; }
	a.easy-button.red {
		background-color: #e74c3c; }
		a.easy-button.red:hover, a.easy-button.red:focus {
			background-color: #c0392b; }
	a.easy-button.orange {
		background-color: #e67e22; }
		a.easy-button.orange:hover, a.easy-button.orange:focus {
			background-color: #d35400; }
	a.easy-button.green {
		background-color: #2ecc71; }
		a.easy-button.green:hover, a.easy-button.green:focus {
			background-color: #27ae60; }
	a.easy-button.yellow {
		background-color: #f1c40f; }
		a.easy-button.yellow:hover, a.easy-button.yellow:focus {
			background-color: #f39c12; }
	a.easy-button.purple {
		background-color: #9b59b6; }
		a.easy-button.purple:hover, a.easy-button.purple:focus {
			background-color: #8e44ad; }
	a.easy-button:hover, a.easy-button:focus {
		background-color: #2980b9; 
		color: #fff; }
	a.easy-button.large {
		padding-top: 1rem;
		padding-right: 2rem;
		padding-bottom: 1.05556rem;
		padding-left: 2rem;
		font-size: 1.11111rem; }
	a.easy-button.small {
		padding-top: 0.77778rem;
		padding-right: 1.55556rem;
		padding-bottom: 0.83333rem;
		padding-left: 1.55556rem;
		font-size: 0.72222rem; }
	a.easy-button.tiny {
		padding-top: 0.55556rem;
		padding-right: 1.11111rem;
		padding-bottom: 0.61111rem;
		padding-left: 1.11111rem;
		font-size: 0.61111rem; }
